main {
    max-width: 1200px;
    background-color: lightgrey;
    margin: auto;
    padding-block: 40px;
}

article {
    margin: auto;
    // max-width: fit-content;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
    line-height: 2;
}

.navbar {
    margin-bottom: 0px;
}

.dropdown-toggle { 
    height: 50px;
}

.row {
    margin: auto;
}

.image-portrait {
    width: 200px;
    height: 200px;
    float: left;
    padding: 5px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    margin: 5px;
    padding: 0px;
    float: left; 
    /*Make sure thumbnails all stick together when resizing screen */
}
